@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


$background: linear-gradient(
  to bottom right,
  #ffe4c4,
  #ffdab9,
  #ffc4a7,
  #ffbb9e
);

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica", sans-serif;
}

h2 {
  text-align: center;
  margin-top: 20pt;
  margin-bottom: 50pt;
}

mat-error {
  font-weight: bold;
}

.sucess {
  color: green;
  font-weight: bold;
}

.dark-mode app-main, .dark-mode app-navbar {
  background-color: #121212;
  color: white;
}

.dark-mode app-aside {
  background-color: rgb(56, 0, 0);
  color: white;
  }
