<mat-icon class="hidden md:block">maximize</mat-icon>

<h2>Solicita tu plan personalizado</h2>

<form [formGroup]="form" class="flex flex-col gap-2">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" maxlength="20" required />
    <mat-error *ngIf="this.nombre?.hasError('required')">
      Introduce tu nombre
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Edad</mat-label>
    <input matInput type="number" formControlName="edad" min="16" />
    <mat-error *ngIf="this.edad?.errors"> Introduce una edad válida </mat-error>
  </mat-form-field>

  <mat-form-field
    matTooltip="Puedes calcular tu IMC en la sección 'Calcular IMC'"
  >
    <mat-label>IMC</mat-label>
    <input matInput type="number" formControlName="IMC" readonly />
    <mat-icon
      class="text-black cursor-pointer"
      routerLink="indicemasa"
      matSuffix
      >calculate</mat-icon
    >
    <mat-error *ngIf="this.IMC?.hasError('required')">
      Calcula tu IMC en la sección "Calcular IMC"
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" maxlength="50" />
    <mat-error *ngIf="this.email?.hasError('required')">
      Introduce tu email
    </mat-error>
    <mat-error *ngIf="this.email?.hasError('email')">
      Introduce un email válido
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Objetivo</mat-label>
    <mat-select formControlName="selectOption">
      <mat-option value="seleccionar" disabled
        >Selecciona tu objetivo</mat-option
      >
      <mat-option value="perder grasa" (click)="entrenador = 'Carla Alonso'"
        >Perder grasa</mat-option
      >
      <mat-option
        value="mejorar tu salud cardiovascular"
        (click)="entrenador = 'Manuel Rodríguez'"
        >Mejorar tu salud cardiovascular</mat-option
      >
      <mat-option
        value="conseguir masa muscular"
        (click)="entrenador = 'Pilar Vázquez'"
        >Conseguir masa muscular</mat-option
      >
    </mat-select>
    <mat-error *ngIf="this.selectOption?.hasError('required')">
      Selecciona tu objetivo
    </mat-error>
  </mat-form-field>

  <button
    type="button"
    class="btn btn-block border-none bg-secondary-light text-white"
    (click)="reset()"
  >
    Borrar datos
  </button>

  <button
    type="button"
    class="btn btn-block border-none bg-secondary-light text-white"
    (click)="descargar()"
  >
    Descargar datos
  </button>

  <button
    type="button"
    class="btn btn-block border-none bg-secondary-light text-white"
    (click)="enviar()"
  >
    Enviar datos
  </button>
</form>
