:host {
  background-color: orange;
  height: 100%;
  padding: 20pt;
  border-left: solid black 1px;
}

mat-icon {
  margin: auto;
  display: flex;
}

mat-form-field {
  width: 100%;
}


h2 {
  text-align: center;
  margin: 6pt 0 20pt 0;
  font-weight: bold;
}

@media (min-width: 701px) {

  mat-icon {
    display: none;
  }
}

@media (max-width: 700px) {
  :host {
    border-top: solid black 1px;
    border-left: 0;
  }


}
