<a
  href="https://pixabay.com/es/photos/hombre-indio-encajar-aptitud-f%C3%ADsica-1868632/"
  target="_blank"
  rel="noopener noreferrer"
  class="md: float-left"
>
  <img src="assets/imagen3.jpg" alt="Imagen de hombre haciendo ejercicio" />
</a>

<h2>¿Quiénes somos?</h2>

<p>
  Somos un <strong>equipo multidisciplinar </strong>compuesto por profesionales
  de la salud de diversos ámbitos, desde entrenadores personales a
  nutricionistas y médicos, unidos por la vocación de hacer llegar a cualquier persona el conocimiento adquirido en nuestros
  <strong>años de experiencia</strong>.
</p>

<p>
  Desde este punto de partida, pusimos en marcha este proyecto con la finalidad
  de dar respuesta a todos aquellos problemas que habíamos detectado
  anteriormente en nuestras carreras individuales, como por ejemplo las
  dificultades económicas para acceder a una
  <strong>dieta saludable y de calidad</strong>, los problemas de coinciliación
  familiar o la falta de acceso a instalaciones deportivas.
</p>

<p>
  Trabajamos de manera directa con múltiples empresas e instituciones para que,
  independientemente de tus condiciones personales y de tu lugar de residencia,
  puedas llevar a cabo la transformación que desees en igualdad de
  oportunidades.
</p>

<p class="pb-8">
  Es un placer contar contigo y siempre estamos dispuestos a escuchar cualquier
  tipo de sugerencia para seguir ofreciendo el mejor servicio posible. Para
  ello, puede escribirnos al siguiente correo electrónico:
  <a href="mailto:contacto@planentrenamiento.es"
    >contacto@planentrenamiento.es</a
  >
</p>

<div class="hidden md:block clear-left">
  <h2 class="text-left">También te recomendamos</h2>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube-nocookie.com/embed/A5wqXRv0DIQ"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
