

.router-outlet-container {
  margin: 40pt;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 20pt;
  margin-bottom: 50pt;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.3);
  font-size: 2rem;
}

h3 {
  text-align: center;
  font-weight: bolder;
  text-shadow: 0 0 1px rgba(24, 10, 153, 0.4);
  position: relative;
}

@media (max-width: 700px) {



  :host {

    margin-left: 60pt;

  }


}
