<h2>¿Qué es el Índice de Masa Muscular?</h2>

<p>
  El índice de masa corporal (IMC) es el peso de una persona en kilogramos
  dividido por el cuadrado de la estatura en metros. El IMC es un método de
  evaluación fácil y económico para la categoría de peso: bajo peso, peso
  saludable, sobrepeso, y obesidad.
</p>

<p>
  El IMC no mide la grasa corporal directamente, pero el IMC se correlaciona
  moderadamente con medidas más directas de la grasa corporal. Además, el IMC
  parece estar tan fuertemente correlacionado con diversos resultados
  metabólicos y de enfermedades como lo están estas medidas más directas de la
  grasa corporal.
</p>

<div>
  Fuente:
  <a
    href="https://www.cdc.gov/healthyweight/spanish/assessing/bmi/adult_bmi/index.html"
    target="_blank"
    >Centros para el Control y Prevención de Enfermedades</a
  >
</div>

<form [formGroup]="imcForm" novalidate>
  <mat-form-field>
    <mat-label>Peso en Kg</mat-label>
    <input matInput type="number" formControlName="peso" min="0" max="400" />
    <mat-error *ngIf="imcForm.get('peso')?.errors">
      Introduce un peso válido</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Altura en cm</mat-label>
    <input matInput type="number" formControlName="altura" min="0" max="250" />
    <mat-error *ngIf="imcForm.get('altura')?.errors"
      >Introduce una altura válida</mat-error
    >
  </mat-form-field>

  <btnComponent
    [disabled]="imcForm.invalid"
    [buttonText]="'Calcular IMC'"
    (click)="calcularIMC(imcForm.value.altura, imcForm.value.peso)"
  ></btnComponent>
</form>

<ng-container *ngIf="!!IMC">
  <div id="resultado">IMC: {{ IMC }} <app-dialogo></app-dialogo></div>

  <mat-error *ngIf="IMC >= 30">
    Tu IMC es superior al recomendado, tienes obesidad
  </mat-error>
  <mat-error *ngIf="IMC >= 25 && IMC < 30">
    Tu IMC es superior al recomendado, tienes sobrepeso
  </mat-error>
  <div class="sucess" *ngIf="IMC >= 18.5 && IMC < 25">Tu IMC es correcto</div>
  <mat-error *ngIf="IMC < 18.5">
    Tu IMC es inferior al recomendado, tienes bajo peso
  </mat-error>
</ng-container>
