p {
  font-style: italic;
}

button {
  background-color: #007bffcd;
  width: 25%;
  padding: 20pt 0;
}

@media (max-width: 700px) {
  table {
    display: none;
  }

  button {
    width: 90%;
  }
}

div:first-of-type {
  border: solid black 1px;
  display: block;
  padding: 10pt;
  border-radius: 5pt;
  background-color: rgb(130, 141, 153);
  color: white;
  width: fit-content;
  display: block;
  float: right;
  margin: 25pt;
}

div:first-of-type a {
  color: white;
}

mat-form-field {
  display: block;
  width: 25%;
  padding: 10px 0 10px 0 ;
}

mat-form-field:first-child {
  margin: 28px 0 0 0;
}



table,
th,
td {
  border: solid 1px black;
  text-align: center;
  background-color: rgb(130, 141, 153);
}

td,
th {
  padding: 5pt;
}

table {
  float: right;
  width: 50%;
  height: 300px;
  border-radius: 5px;
  font-size: 1.5em;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 4%;
  margin-top: 4%;
  color: white;
}

#SpanAltura,
#resultado,
ul span {
  margin: 5pt;
  font-weight: bold;
  font-size: 1.2rem;
  list-style: none;
}

@media (max-width: 830px) {
  mat-form-field {
    width: 90%;
  }
}
