<form (ngSubmit)="onSubmit()">
  <!-- Nombre -->
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="newPerson.nombre" name="nombre" required />
  </mat-form-field>

  <!-- Apellido -->
  <mat-form-field appearance="fill">
    <mat-label>Apellido</mat-label>
    <input matInput [(ngModel)]="newPerson.apellido" name="apellido" required />
  </mat-form-field>

  <!-- Edad -->
  <mat-form-field appearance="fill">
    <mat-label>Edad</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="newPerson.edad"
      name="edad"
      required
    />
  </mat-form-field>

  <!-- Texto -->
  <mat-form-field appearance="fill">
    <mat-label>Texto</mat-label>
    <textarea
      matInput
      [(ngModel)]="newPerson.texto"
      name="texto"
      required
    ></textarea>
  </mat-form-field>

  <!-- URL del Avatar -->
  <mat-form-field appearance="fill">
    <mat-label>URL del Avatar</mat-label>
    <input matInput type="text" [(ngModel)]="newPerson.avatar" name="avatar" />
  </mat-form-field>

  <!-- Botón de envío -->
  <button mat-button color="accent" type="submit">Agregar Persona</button>
</form>

<!-- Mensaje de error -->
<div *ngIf="error" class="error-message">Error: {{ error }}</div>
