form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  gap: 0.25rem;
  background-color: orange;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

button {
  background-color: #007bffcd;
  width: 100%;
  padding: 20pt 0;
}

@media (max-width: 700px) {
  form {
    width: 90%;
    padding: 20px;
  }
}
