.containerCard {
  height: auto;
  margin-bottom: 20pt;
  width: 30%;
  margin: auto;
}

p {
  padding: 20px;
}

* {
  color: black;
}

a {
  text-decoration: none;
  text-align: center;
  margin: auto;
}

#Cards {
  display: flex;
  flex-direction: row;
  gap: 30pt;
  padding: 0 10px;
  align-items: center;
}

$background-size-cover: cover;

%background-cover {
  background-size: $background-size-cover;
}

.example-header-image {
  @extend %background-cover;
  background-image: url('/assets/avatarcarla.svg');
}

.example-header-image2 {
  @extend %background-cover;
  background-image: url('/assets/avatarmanuel.svg');
}

.example-header-image3 {
  @extend %background-cover;
  background-image: url('/assets/avatarpilar.svg');
}

button {
  margin: auto;
}

@media (max-width: 1300px) {
  .containerCard {
    width: 100%;
    margin-bottom: 20pt;
  }

  #Cards {
    flex-direction: column;
  }
}
