.containerCard {
  width: 30%;
  margin: auto;
}

p {
  padding: 20px;
}

$background-size-cover: cover;

%background-cover {
  background-size: $background-size-cover;
}

.example-header-image {
  @extend %background-cover;
  background-image: url('/assets/avatarcarla.svg');
}

.example-header-image2 {
  @extend %background-cover;
  background-image: url('/assets/avatarmanuel.svg');
}

.example-header-image3 {
  @extend %background-cover;
  background-image: url('/assets/avatarpilar.svg');
}

@media (max-width: 1300px) {
  .containerCard {
    width: 80%;
    margin-bottom: 20pt;
  }
}
