<div id="Cards">
  <div class="containerCard">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Carla Alonso</mat-card-title>
        <mat-card-subtitle>Especialista en pérdida de grasa</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/avatarcarla.svg"
        alt="Foto de primer plano de Carla"
      />
      <mat-card-content>
        <p>
          Con casi dos décadas de experiencias exitosas a sus espaldas con
          pacientes de gran diversidad, Carla se especializó en la pérdida de
          grasa al tomar conciencia del cambio en la calidad de vida que suponía
          esta intervención especializada.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="mailto:carlaalonso@plan.com"
          ><button mat-button>CONTACTAR</button></a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="containerCard">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title>Manuel Rodríguez</mat-card-title>
        <mat-card-subtitle
          >Especialista en salud cardiovascular</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="assets\avatarmanuel.svg"
        alt="Foto de primer plano de Manuel"
      />
      <mat-card-content>
        <p>
          Consciente de la gran importancia del cuidado de la salud
          cardiovascular, especialmente a medida que envejecemos, Manuel aplica
          los conocimientos científicos más actuales para mejorar la calidad de
          vida de pacientes con problemas cardiovasculares o para prevenir
          problemas en la población general.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="mailto:manuelrodriguez@plan.com"
          ><button mat-button>CONTACTAR</button></a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="containerCard">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title>Pilar Vázquez</mat-card-title>
        <mat-card-subtitle>Especialista en masa muscular</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets\avatarpilar.svg"
        alt="Foto de primer plano de Pilar"
      />
      <mat-card-content>
        <p>
          Desde una perspectiva del cuidado de la salud física y mental, Pilar
          se ha especializado en estos últimos años en desarrollar el potencial
          existente en todos los cuerpos, aumentando el bienestar de sus
          clientes y preparándolos para la práctica deportiva
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="mailto:pilarvazquez@plan.com">
          <button mat-button>CONTACTAR</button></a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</div>
