<div id="botonesDesktop">
  <button
    routerLink="/"
    mat-fab
    color="warn"
    aria-label="Example icon button with a home icon"
  >
    <mat-icon>home</mat-icon>
  </button>
  <a routerLink="/about" mat-raised-button>Sobre nosotros</a>
  <a routerLink="/indicemasa" mat-raised-button>Calcular IMC</a>
  <a routerLink="/entrenadores" mat-raised-button>Entrenadores</a>
  <a routerLink="/historias" mat-raised-button>Historias de éxito</a>
</div>

<div id="botonesMobile">
  <button
    routerLink="/"
    mat-fab
    color="primary"
    aria-label="Example icon button with a home icon"
  >
    <mat-icon>home</mat-icon>
  </button>
  <button mat-fab (click)="toggleGroup()">
    <mat-icon style="color: white">{{
      isHidden ? "arrow_drop_up" : "arrow_drop_down"
    }}</mat-icon>
  </button>
  <div *ngIf="isHidden" id="smalllinks">
    <a routerLink="/about" (click)="toggleGroup()" mat-raised-button
      >Sobre nosotros</a
    >
    <a routerLink="/indicemasa" (click)="toggleGroup()" mat-raised-button
      >Calcular IMC</a
    >
    <a routerLink="/entrenadores" (click)="toggleGroup()" mat-raised-button
      >Entrenadores</a
    >
    <a routerLink="/historias" (click)="toggleGroup()" mat-raised-button
      >Historias de éxito</a
    >
  </div>
</div>
