<h2 class="pb-5">Comparte tu experiencia con nosotros</h2>

<app-insert-story></app-insert-story>

<div *ngIf="userData">
  <div *ngFor="let user of userData">
    <h3>{{ user.nombre }} {{ user.apellido }}</h3>
    <ul class="w-1/2">
      <li class="list-none">
        <img [src]="user.avatar" alt="{{ user.nombre }}" />
      </li>
      <li><strong class="underline">Edad:</strong> {{ user.edad }}</li>
      <li>
        <strong class="underline">Testimonio:</strong><em> {{ user.texto }}</em>
      </li>
    </ul>
  </div>
</div>
