:host {


    background-color: orange;
    height: 100%;
    margin: 0;
    padding: 20pt;
    border-left: solid black 1px;
}


mat-form-field {

  width: 100%;
}

button {

  background-color: #007bffcd;
  width: 100%;
  padding: 20pt 0;

  }

  h2 {

    text-align: center;
    margin: 6pt 0 20pt 0;
  }




  @media (max-width: 700px) {

    :host {

      border-top: solid black 1px;
      border-left: 0;

  }
  }
