<mat-icon>maximize</mat-icon>

<h2>Solicita tu plan personalizado</h2>

<form action="">
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="nombre" name="nombre" (input)="check()" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Edad</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="edad"
      name="edad"
      min="0"
      (input)="check()"
    /> </mat-form-field
  ><mat-form-field
    appearance="fill"
    matTooltip="Puedes calcular tu IMC en la sección 'Calcular IMC'"
  >
    <mat-label>IMC</mat-label>
    <input matInput type="number" [(ngModel)]="IMC" name="IMC" readonly />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Objetivo</mat-label>
    <mat-select
      [(ngModel)]="selectOption"
      name="selectOption"
      (selectionChange)="asignarentrenador(selectOption); check()"
    >
      <mat-option value="seleccionar" disabled
        >Selecciona tu objetivo</mat-option
      >
      <mat-option value="perder grasa">Perder grasa</mat-option>
      <mat-option value="mejorar tu salud cardiovascular"
        >Mejorar tu salud cardiovascular</mat-option
      >
      <mat-option value="conseguir masa muscular"
        >Conseguir masa muscular</mat-option
      >
    </mat-select>
  </mat-form-field>
</form>

<div id="botones">
  <p>
    <button mat-button (click)="borrar()" color="accent">Borrar datos</button>
  </p>
  <p>
    <button mat-button (click)="imprimir()" color="accent">Vista previa</button>
  </p>
  <p>
    <button
      mat-button
      (click)="enviar()"
      color="accent"
      [disabled]="desactivado"
    >
      Enviar datos
    </button>
  </p>
  <p>
    <button
      mat-button
      (click)="descargar()"
      color="accent"
      [disabled]="desactivado"
    >
      Descargar datos
    </button>
  </p>
</div>

<ul *ngIf="datos.length > 0">
  <p>Estos son tus datos:</p>

  <li>
    Tu nombre es <strong>{{ datos[0] }}</strong>
  </li>
  <li>
    Tienes <strong>{{ datos[1] }}</strong> años
  </li>
  <li>
    Tu IMC es <strong>{{ IMC }}</strong>
  </li>
  <li>
    Tu objetivo es <strong>{{ selectOption }}</strong>
  </li>
  <li>
    Tu entrenador/a va a ser <strong>{{ entrenador }}</strong>
  </li>
</ul>
