<h2>Tus datos personales</h2>

<form action="">
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="nombre" name="nombre" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Edad</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="edad"
      name="edad"
      min="0"
    /> </mat-form-field
  ><mat-form-field
    appearance="fill"
    matTooltip="Puedes calcular tu IMC en la sección de la barra lateral izquierda correspondiente"
  >
    <mat-label>IMC</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="IMC"
      name="IMC"
      readonly
      [disabled]="this.desactivado === true"
      [value]="sharedData"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Objetivo</mat-label>
    <mat-select
      [(ngModel)]="selectOption"
      name="selectOption"
      (selectionChange)="asignarentrenador(selectOption)"
    >
      <mat-option value="seleccionar" disabled
        >Selecciona tu objetivo</mat-option
      >
      <mat-option value="perder grasa">Perder grasa</mat-option>
      <mat-option value="mejorar tu salud cardiovascular"
        >Mejorar tu salud cardiovascular</mat-option
      >
      <mat-option value="conseguir masa muscular"
        >Conseguir masa muscular</mat-option
      >
    </mat-select>
  </mat-form-field>
</form>

<div id="botones">
  <p>
    <button mat-button (click)="recibirdatos()" color="accent">
      Registrar IMC calculado
    </button>
  </p>
  <p>
    <button mat-button (click)="borrar()" color="accent">Borrar datos</button>
  </p>
  <p
    matTooltip="Cuando hayas completado el formulario, este botón estará habilitado"
    [matTooltipDisabled]="
      !(sharedData === 0 || nombre === '' || edad === '' || selectOption === '')
    "
  >
    <button
      mat-button
      [disabled]="
        sharedData === 0 || nombre === '' || edad === '' || selectOption === ''
      "
      type="submit"
      (click)="imprimir()"
      color="accent"
    >
      Imprimir datos en pantalla
    </button>
  </p>
  <p
    matTooltip="Cuando hayas completado el formulario, este botón estará habilitado"
    [matTooltipDisabled]="
      !(sharedData === 0 || nombre === '' || edad === '' || selectOption === '')
    "
  >
    <button
      mat-button
      [disabled]="
        sharedData === 0 || nombre === '' || edad === '' || selectOption === ''
      "
      type="submit"
      (click)="recibido()"
      color="accent"
    >
      Enviar datos
    </button>
  </p>
</div>

<ul *ngIf="datos.length > 0">
  <p>Estos son tus datos:</p>

  <li>
    Tu nombre es <span class="destacado">{{ datos[0] }}</span>
  </li>
  <li>
    Tienes <span class="destacado">{{ datos[1] }} años</span>
  </li>
  <li>
    Tu IMC es <span class="destacado">{{ sharedData }}</span>
  </li>
  <li>
    Tu objetivo es <span class="destacado">{{ selectOption }}</span>
  </li>
  <li>
    Tu entrenador/a va a ser <span class="destacado">{{ entrenador }}</span>
  </li>
</ul>
