.containerCard {
  height: auto;
  margin-bottom: 20pt;
  width: 30%;
  margin: auto;
}

p {
  padding: 20px;
}

* {
  color: black;
}

a {
  text-decoration: none;
  text-align: center;
  margin: auto;
}

#Cards {
  display: flex;
  flex-direction: row;
  gap: 30pt;
  padding: 0 10px;
  align-items: center;
}

.example-header-image {
  background-image: url("src\assets\avatarcarla.svg");
  background-size: cover;
}

.example-header-image2 {
  background-image: url("src\assets\avatarmanuel.svg");
  background-size: cover;
}

.example-header-image3 {
  background-image: url("src\assets\avatarpilar.svg");
  background-size: cover;
}

button {
  margin: auto;
}

@media (max-width: 1300px) {
  .containerCard {
    width: 100%;
    margin-bottom: 20pt;
  }

  #Cards {
    flex-direction: column;
  }
}
