<div id="images">
  <a
    href="https://pixabay.com/es/photos/hombre-indio-encajar-aptitud-f%C3%ADsica-1868632/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      src="assets/imagen3.jpg"
      alt="Imagen de hombre haciendo ejercicio"
      id="imghombre"
    />
  </a>
  <a
    href="https://pixabay.com/photos/young-woman-girl-athletic-nature-2699780/"
    target="_blank"
    rel="noopener noreferrer"
    ><img
      src="assets/imagen1.jpg"
      alt="Imagen de mujer haciendo ejercicio"
      id="imgmujer"
  /></a>
</div>

<p>
  Enhorabuena por tomar la iniciativa de asumir el control de tu bienestar.
  <b>Introduce tus datos</b>
  y serás contactado por el entrenador o la entrenadora personal que te
  corresponda según cuál sea tu objetivo actual. Tras haber recibido tus datos
  personales, podréis comenzar a concretar el plan que mejor se adapte a tus
  necesidades y preferencias.
</p>
