<div id="images">
  <a
    href="https://pixabay.com/es/photos/hombre-indio-encajar-aptitud-f%C3%ADsica-1868632/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      src="assets/imagen3.jpg"
      alt="Imagen de hombre haciendo ejercicio"
      id="imghombre"
    />
  </a>
  <a
    href="https://pixabay.com/photos/young-woman-girl-athletic-nature-2699780/"
    target="_blank"
    rel="noopener noreferrer"
    ><img
      src="assets/imagen1.jpg"
      alt="Imagen de mujer haciendo ejercicio"
      id="imgmujer"
  /></a>
</div>

<p>
  Enhorabuena por tomar la iniciativa de asumir el control de tu bienestar.
  <b
    >Introduce tus datos en la barra lateral derecha (o inferior en caso de que
    accedas desde tu smartphone)</b
  >
  y serás contactado por el entrenador o la entrenadora personal que te
  corresponda según cuál sea tu objetivo actual.
</p>

<p>
  Tras haber recibido tus datos personales, podréis comenzar a concretar el plan
  que mejor se adapte a tus necesidades, capacidades y voluntades
</p>

<p>
  El formulario de esta página es sencillo y apenas te llevará unos minutos, y
  en caso de necesitar alguna ayuda, encontrarás indicaciones que te indicarán
  el siguiente paso. Para calcular tu IMC tan solo tienes que ir a la sección
  "Calcular IMC", y una vez calculado, pulsar el botón "Registrar IMC
  calculado".
</p>

<p>
  Te deseamos mucha suerte, quedas en manos de los mejores profesionales y quién
  sabe, ¡quizás veamos tu historia en la sección de historias de éxito!
</p>
