<h2>¿Qué es el Índice de Masa Muscular?</h2>

<p>
  El índice de masa corporal (IMC) es el peso de una persona en kilogramos
  dividido por el cuadrado de la estatura en metros. El IMC es un método de
  evaluación fácil y económico para la categoría de peso: bajo peso, peso
  saludable, sobrepeso, y obesidad.
</p>

<p>
  El IMC no mide la grasa corporal directamente, pero el IMC se correlaciona
  moderadamente con medidas más directas de la grasa corporal. Además, el IMC
  parece estar tan fuertemente correlacionado con diversos resultados
  metabólicos y de enfermedades como lo están estas medidas más directas de la
  grasa corporal.
</p>

<div>
  Fuente:
  <a
    href="https://www.cdc.gov/healthyweight/spanish/assessing/bmi/adult_bmi/index.html"
    target="_blank"
    >Centros para el Control y Prevención de Enfermedades</a
  >
</div>

<form
  [formGroup]="form"
  (ngSubmit)="calcularIMC(altura?.value ?? 0, peso?.value ?? 0)"
  novalidate
>
  <mat-form-field>
    <mat-label>Peso en Kg</mat-label>
    <input matInput type="number" formControlName="peso" min="0" max="400" />
    <mat-error *ngIf="this.peso?.errors"> Introduce un peso válido</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Altura en cm</mat-label>
    <input matInput type="number" formControlName="altura" min="0" max="250" />
    <mat-error *ngIf="this.altura?.errors"
      >Introduce una altura válida</mat-error
    >
  </mat-form-field>

  <button class="btn btn-block border-none bg-secondary-light text-white">
    Calcular IMC
  </button>
</form>

<ng-container *ngIf="!!IMC">
  <div id="resultado">IMC: {{ IMC }} <app-dialogo></app-dialogo></div>
</ng-container>
