p {
  font-style: italic;
}

form {
  width: 25%;
}

div:first-of-type {
  border: solid black 1px;
  display: block;
  padding: 10pt;
  border-radius: 5pt;
  background-color: rgb(130, 141, 153);
  color: white;
  width: fit-content;
  display: block;
  float: right;
  margin: 25pt;

  a {
    color: white;
  }
}

mat-form-field {
  width: 100%;
  padding: 10px 0 10px 0;
}

mat-form-field:first-child {
  margin: 28px 0 0 0;
}

#resultado {
  margin: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  list-style: none;
}

@media (max-width: 830px) {
  form {
    width: 90%;
  }
}

table,
th,
td {
  text-align: center;

  border: solid black 1px;

  padding: 10pt;
}
